div{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210617/pngtree-green-abstract-background-hd-stock-images-image_730786.jpg');
    background-image: radial-gradient(green, blue, yellow, pink, red);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

main {
    background-color: gray;
}

p {
    background-color: #ffffff;
}

h1 {
    background-color: black;
    color: yellow;
}